
<header >
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="Sushi">
      <h1 class="title is-2" >&nbsp;Sushi shop </h1>
    </div>
    <div id="menu" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a [routerLink]="['/']"  class="button is-light*">
              Home
            </a>
            <a [routerLink]="['/panier']" class="button is-light">
                Panier
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
