
 <div class="Box">
    <div class="p-5 " *ngFor="let boxe of Boxes"  >
        <div class="p-3" class="bg-light border border-primary">
            <a ><img class="Menu" src="assets/images_boxes/{{boxe.image}}.webp"/></a>
        </div>
        <div class="p-3" > 
            <span class=Itemitle> {{boxe.nom}}</span>
        </div>
        <div class="p-3" > 
            <span class=Itemitle> {{boxe.prix}}€ | {{boxe.pieces}}Pièces</span>
        </div>
        <div><button>Ajouter</button></div>
    </div>
  </div>
 

  
  

 