<div class="content is-vcentered has-text-centered"> <br>
    <h1>Mentions légales</h1>
</div>
<div>
    <p>Association loi 1901 déclarée en sous-préfecture d’Arles le 2 décembre 2003 sous le n° 0132007842</p>
    <p>N° Siret : 500 715 776 00030 <br>
        Siège social : Association SushiFast_Awa <br>
        Pierre-Yves Gosset <br>
        c/o Locaux Motiv <br>
        10 bis, rue Jangot <br>
        91000 Corbeil<br>
        FRANCE <br>
        Pour nous contacter : https://contact.sushifast.fr
    </p> <br>
    <h1 class="title is-4">Hébergeur</h1>
    <p>Hetzner Online GmbH
        Industriestr. 25 <br>
        91000 evry <br>
        France <br>
        Tél.: +33 (0)768956587 <br>
    </p><br>
    <h1 class="title is-4">Informatique et libertés</h1>
    <h3 class="title is-6"> Informations personnelles collectées</h3>
    <p>
        En France, les données personnelles sont notamment protégées par la loi n° 78-17 du 6 janvier 1978, la loi
        n° 2004-801 du 6 août 2004, l’article L. 226-13 du Code pénal et la Directive Européenne du 24  octobre 1995.
        <br>
        En tout état de cause SushiShop ne collecte des informations personnelles relatives à l’utilisateur (nom,
        adresse électronique, coordonnées téléphoniques) que pour le besoin des services proposés par les sites du
        réseau SushiShop,
    </p> <br>
    <h3 class="title is-6">Analyse statistique et confidentialité</h3>
    <p>Les données recueillies (adresse IP, User-Agent…) sont anonymisées et conservées pour une durée de 6 mois. Elles
        ne sont pas cédées à des tiers ni utilisées à d’autres fins.</p> <br>

    <h3 class="title is-6">ACCES ET CONTENU</h3>
    <p>
    L’accès du site web est libre. L’utilisateur du site reconnaît
    disposer de la compétence et des moyens nécessaires pour accéder
    et utiliser ce site. L’utilisateur reconnaît avoir vérifié que la 
    configuration informatique utilisée ne contient aucun virus et qu’elle est en parfait état de fonctionnement. 
    L’éditeur met tout en œuvre pour offrir aux utilisateurs des informations ou des outils disponibles 
    et vérifiés mais ne sauraient être tenus pour responsables des erreurs, d’une absence de disponibilité des 
    fonctionnalités ou de la présence de virus ou autres infections logiques sur leur site. Le site est accessible
    24 heures sur 24 et 7 jours. L’éditeur ne saurait toutefois être tenu pour responsable des discontinuités du 
    site et de ses services, qu’elles soient volontaires ou non. En outre, pour des raisons de maintenance, l’éditeur pourra interrompre
    le site et s'efforcera d'en avertir préalablement les utilisateurs. Les informations fournies le sont à titre indicatif et ne
    sauraient dispenser l’utilisateur d’une analyse complémentaire et personnalisée. L’utilisateur s’engage à n’utiliser les services ainsi que l’ensemble des informations auxquelles il pourra avoir accès que pour des raisons personnelles et dans un but conforme à l’ordre public, aux bonnes mœurs et aux droits des tiers. L’utilisateur ne commet aucun acte pouvant mettre en cause la sécurité 
    informatique du site ou du système informatique des autres utilisateurs. L’utilisateur ne doit pas interférer ou interrompre le fonctionnement normal du site.
    </p> <br>

    <h3 class="title is-6">Limitations contractuelles sur les données techniques</h3>
    <p>
        SushiShop ne pourra être tenue responsable de dommages matériels liés à l’utilisation du site. De plus,
        l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et
        avec un navigateur de dernière génération mis-à-jour.
    </p>

</div>